<!DOCTYPE html>
<html>
  <head>
    <title>Learning Sinatra</title>
  </head>
  <body>
    <h1> Trying out Sinatra</h1>
    <h2> Cool when it works</h2>
    <p> I can get the webpage to render when I use 'shotgun' at the Terminal. But it does not work if I just type in the ....github.io </p>
  </body>
</html>
